<html>
    <head>
        <title>Itowns - Globe + Multipolygon Geojson</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/itowns/stylesheets/example.css">
        <link rel="stylesheet" type="text/css" href="/itowns/stylesheets/LoadingScreen.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    </head>
    <body>
        <div id="viewerDiv" class="viewer"></div>
        <script src="/itowns/javascripts/GUI/GuiTools.js"></script>
        <script src="/itowns_module/itowns.js"></script>
        <script src="/itowns_module/debug.js"></script>
        <script src="/javascripts/nantes.js"></script>
    </body>
</html>